@import "tailwindcss";


@theme {
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --color-primary: #1CBDDD;
    --color-secondary: #4DCA79;
    --color-orange: #F28D35;
  }